<?xml version='1.0' encoding='utf-8'?>
<widget id="biz.sivuduuni.abitaulukot" android-packageName="biz.sivuduuni.abitaulukot" ios-CFBundleIdentifier="FIXME.biz.sivuduuni.abitaulukot" version="1.1.1" versionCode="3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <preference name="phonegap-version" value="cli-7.0.1" />
    <preference name="android-targetSdkVersion" value="26" />
    <name>Abitaulukot</name>
    <description>
        Offline version of Abitti help files including scientific tables.
    </description>
    <author email="office@sivuduuni.biz" href="http://sivuduuni.biz">
        Sivuduuni Global Oy
    </author>
    <platform name="android" />
    <platform name="ios" />

    <platform name="android">
        <icon src="www/app-icon-android-32.png" density="ldpi" />
        <icon src="www/app-icon-android-32.png" density="mdpi" />
        <icon src="www/app-icon-android-64.png" density="hdpi" />
        <icon src="www/app-icon-android-128.png" density="xhdpi" />
        <icon src="www/app-icon-android-128.png" density="xxhdpi" />
        <icon src="www/app-icon-android-512.png" density="xxxhdpi" />
    </platform>

    <platform name="ios">
        <!-- iPhone 6 / 6+ -->
        <icon src="www/app-icon-ios-50.png" width="50" height="50" />
        <icon src="www/app-icon-ios-57.png" width="57" height="57" />
        <icon src="www/app-icon-ios-72.png" width="72" height="72" />
        <icon src="www/app-icon-ios-100.png" width="100" height="100" />
        <icon src="www/app-icon-ios-114.png" width="114" height="114" />
        <icon src="www/app-icon-ios-180.png" width="180" height="180" />

        <!-- iPhone / iPod Touch  -->
        <icon src="www/app-icon-ios-60.png" width="60" height="60" />
        <icon src="www/app-icon-ios-87.png" width="87" height="87" />
        <icon src="www/app-icon-ios-120.png" width="120" height="120" />
        <icon src="www/app-icon-ios-144.png" width="144" height="144" />
        <icon src="www/app-icon-ios-167.png" width="167" height="167" />

        <!-- iPad -->
        <icon src="www/app-icon-ios-76.png" width="76" height="76" />
        <icon src="www/app-icon-ios-152.png" width="152" height="152" />
        <icon src="www/app-icon-ios-512.png" width="512" height="512" />

        <!-- Settings Icon -->
        <icon src="www/app-icon-ios-29.png" width="29" height="29" />
        <icon src="www/app-icon-ios-58.png" width="58" height="58" />

        <!-- Spotlight Icon -->
        <icon src="www/app-icon-ios-40.png" width="40" height="40" />
        <icon src="www/app-icon-ios-80.png" width="80" height="80" />

        <!-- Splash screens -->

        <!-- iPhone and iPod touch -->
        <splash src="www/app-splash-ios-320x480.png" width="320" height="480" />
        <splash src="www/app-splash-ios-640x960.png" width="640" height="960" />

        <!-- iPhone 5 / iPod Touch (5th Generation) -->
        <splash src="www/app-splash-ios-640x1136.png" width="640" height="1136" />

        <!-- iPhone 6 -->
        <splash src="www/app-splash-ios-750x1334.png" width="750" height="1334" />
        <splash src="www/app-splash-ios-1242x2208.png" width="1242" height="2208" />
        <splash src="www/app-splash-ios-2208x1242.png" width="2208" height="1242" />

        <!-- iPad -->
        <splash src="www/app-splash-ios-768x1024.png" width="768" height="1024" />
        <splash src="www/app-splash-ios-1024x768.png" width="1024" height="768" />

        <!-- Retina iPad -->
        <splash src="www/app-splash-ios-1536x2048.png" width="1536" height="2048" />
        <splash src="www/app-splash-ios-2048x1536.png" width="2048" height="1536" />

        <!-- Avoid mess with iOS status bar and Abitaulukot app -->
        <plugin name="cordova-plugin-statusbar-hide-on-startup" spec="0.1.7" />
    </platform>
    <access origin="*" />
</widget>
